<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebirdSql.Data.FirebirdClient" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="Npgsql" version="3.1.9" targetFramework="net452" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net452" />
</packages>